<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Register.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>AC6B60A81D500A590074C83F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>AC6B60BC1D500A590074C83F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>AC6B60C71D500A5A0074C83F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
